<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password</title>
    <link rel="stylesheet" href="./css/loginCss/forgot_password.css" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="forgot-wrapper">
      <div class="header-wrapper">
        <!-- Back to login icon and link -->
        <a href="/login" class="">
          <i class='bx bxs-chevron-left-circle bx-flip-vertical' style='color:#7952b3; font-size: 30px;'  ></i><span class="tooltiptext"></span>
        </a>
        <h1 class="forgot-title">ลืมรหัสผ่าน</h1>
      </div>
      <form action="/forgot-password" method="POST">
        <% if (error && error.length > 0) { %>
        <div class="forgot-alert"><%= error.join(', ') %></div>
        <% } %> <% if (success && success.length > 0) { %>
        <div class="forgot-alert success"><%= success.join(', ') %></div>
        <% } %>
        <div class="forgot-input-box">
          <span class="forgot-span-text">ชื่อผู้ใช้:</span>
          <input
            type="text"
            name="username"
            placeholder="ชื่อผู้ใช้"
            required
          />
        </div>
        <button type="submit" class="forgot-btn">ส่ง OTP</button>
      </form>
    </div>
  </body>
</html>
